*{
    background-color: black;
    margin: 0px;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }


article
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
    margin:0.5em;
    margin-left: 3em;
    margin-right: 3em;
    
    width: 22em;
    border: 1px white solid;
}
section
{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    flex-wrap: wrap; 
}
img{

    align-self: center;
    width: 20em;
}

p,h1{
    text-shadow: 1px -1px gray;
}

p{
    color:azure;
    font-size: 1.5em; 
    margin-left: 0.5em; 
}

div{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 1em;
    height: 15em;
}

h1{
    margin-top:0.3em;

    color:azure;
    font-size:10vw;
    text-align: center;
    text-decoration: underline;
}
b{
   margin-right: 0.5em;
   text-decoration: underline;
}
button{
    width: 2em;
    height: 2em;
    background-color: white;
}
button p {
    background-color: white;
    color: black;
    position: relative;
    left:-0.25em;


}
