*{
    background-color: black;
    margin: 0px;
    padding: 0;
    overflow-x: hidden;
}
img{

    align-self: center;
    width: 20em;
}

article
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
    margin:0.5em;
    margin-left: 3em;
    margin-right: 3em;
    
    width: 22em;
    border: 1px white solid;
}
section
{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    flex-wrap: wrap; 
}

p,h1{
    text-shadow: 1px -1px gray;
}

p{
    color:azure;
    margin:0.2em;
    font-size: 2em;  
}

h1{
    margin-top:0.3em;

    color:azure;
    font-size:10vw;
    text-align: center;
    text-decoration: underline;
}
b{
    margin-right: 0.5em;
    border-bottom: 1px white solid;
}

